
<%-include include/header.html%>
<div class="container bod">
        <div class="g-mn">
            <%if (user){%>
            <div class="publishBarArea">
                <ul class="m-nav2">
                    <li class="user">
                        <a href="#">
                            <img src="<%=user.avatar%>" alt="<%=user.username%>的头像">
                        </a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <%}%>
            <%articles.forEach(function(article, index){%>

            <div class="article-container">
                <div class="mlistimg col-lg-2 col-sm-2 col-md-2 col-xs-2">
                    <div>
                        <a href="">
                            <img class="img-circle" style="width: 65px;height: 65px;" src="<%=article.user.avatar%>" alt="...">
                        </a>
                    </div>
                </div>
                <dl class="col-lg-10 col-sm-10 col-md-10 col-xs-10">

                    <div class="artitle_author_date">
                        <a class="media-left cr_author" href="#" style="text-decoration: none">
                            <span><%=article.user.username%></span>
                        </a>
                        <div class="media-right">
                            <span><%=article.createAt.toLocaleString()%></span>
                        </div>
                    </div>

                    <dd class="m">
                        <%if(article.poster){%>
                        <a href="/article/detail/<%=article._id%>" style="width: 100%;height: auto">
                            <img style="padding: 0;width: 100%" src="<%=article.poster%>" alt="">
                        </a>
                        <%}%>
                    </dd>
                    <dt>
                        <a href="/article/detail/<%=article._id%>" style="text-decoration: none" title="<%=article.title%>">
                            <h3 class=" "><%=article.title%></h3>
                        </a>
                    </dt>
                    <dd class="cr_summary">
                        <div class="item_body " >
                            <span id=""><%-article.content%></span>
                        </div>
                    </dd>
                </dl>
            </div>

            <%})%>
        </div>
        <div class="g-sd">
            资讯区
        </div>

</div>

<!--页码控制区域-->
<!--<nav class="text-center" style="margin-top: 50px;">-->
    <!--<ul class="pagination">-->
        <!--<li><a href="/?keyword=<%=keyword%>&pageNum=<%=(pageNum>1)?pageNum-1:1%>&pageSize=<%=pageSize%>">&laquo;</a></li>-->
        <!--<%for (var i=1; i<=totalPage; i++){%>-->
        <!--<li class="<%=(pageNum==i?'active':'')%>"><a href="/?keyword=<%=keyword%>&pageNum=<%=i%>&pageSize=<%=pageSize%>"><%=i%></a></li>-->
        <!--<%}%>-->
        <!--<li><a href="/?keyword=<%=keyword%>&pageNum=<%=(pageNum<totalPage)?pageNum+1:totalPage%>&pageSize=<%=pageSize%>">&raquo;</a></li>-->
    <!--</ul>-->
<!--</nav>-->


<script src="/javascript/particles.min.js"></script>
<script src="/javascript/index/index.js"></script>
<script color="225,0,0" opacity="0.7" zIndex="-9" src="/javascript/canvas-nest.min.js"></script>
<script zIndex="-9" alpha="0.5" src="/javascript/ribbon.js"></script>

<%-include include/footer.html%>

