<div class="container">
    <div class="foot">
        友情链接：
        <a href="http://www.glyphicons.com/">glyphicons</a><i>|</i>
        <a href="http://necolas.github.io/normalize.css/">normalize.css</a><i>|</i>
        <a href="https://github.com/hustcc/canvas-nest.js">canvas-nest.js</a>
    </div>
    <div class="wrapper_copy">
        <div class="copy_text">
            版权所有&copy; 2017 李民涛
        </div>
    </div>

</div>



</body>

<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

<script src="/lib/jquery/dist/masonry-docs.min.js"></script>

</html>